<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sls.dao.pc.activity.PCDynpageMapper" >
  <resultMap id="BaseResultMap" type="net.sls.dto.pc.act.Dynpage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="cmsUserId" property="cmsUserId" jdbcType="BIGINT" />
    <result column="isDel" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, title, createtime, cmsUserId, isDel
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dynpage
    where id = #{id,jdbcType=BIGINT}
  </select>
  
</mapper>