@charset "utf-8";

.oc_opt { background: #eee; border-bottom: solid 1px #ddd;}
	.oc_opt li { height: 50px; line-height: 50px; float: left; width: 33.3%;}
		.oc_opt li a { font-size: 14px; color: #666; display: block; text-align: center; height: 51px;}
		.oc_opt li .oc_cur_a { color: #ff9900; border-bottom: solid 2px #ff9900;}
		
.oc_tit { padding: 10px 0px 10px 12px; position: relative; border-bottom: solid 1px #ddd; margin: 0px 10px;}
	.oc_tit li { font-size: 14px; color: #666; height: 28px; line-height: 28px;}
		.oc_tit .oc_jt { position: absolute; width: 12px; height: 20px; top: 28px; right: 0px; background: url(../../images/sls_mz.png) no-repeat 0px -178px; background-size: 520px;}
		
.oc_mes { font-size: 0px; border-bottom: solid 15px #eee;}
	.oc_mes li { padding: 10px 0px; padding-left: 5px;}
		.oc_img { width: 60px; height: 60px; background: #ccc; float: left; margin-right: 10px;}
		.oc_mes p { font-size: 14px; color: #666; line-height: 28px; height: 60px; overflow: hidden; padding-right: 10px;}
