@charset "utf-8";

.page_title{ height: 44px; line-height: 44px; text-align: center; background: #f3f3f3; color: #5f5f5f; font-size: 14px;}	
	
.duigou_logo { width: 52px; height: 53px; background: url(../../images/sls_mz.png) no-repeat -40px -267px; background-size: 500px; margin: 40px auto 10px auto;}
.pr_gmcg { color: #666; text-align: center; margin-bottom: 5px;}
.pr_opt { text-align: center; margin-top: 35px;}
	.pr_opt a { display: inline-block; width: 135px; height: 44px; line-height: 44px; color: #fff; background: #ff9900; text-align: center; border-radius: 3px; margin: 3px;}
.sls_logo { width: 40px; height: 40px; background: url(../../images/sls_mz.png) no-repeat 2px 5px; background-size: 500px auto; margin: auto; margin-top: 35px;}
.pr_ft { font-size: 14px; color: #666; text-align: center; margin-top: 3px;}
