<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sls.dao.pc.product.PCCategoryMapper" >
  <resultMap id="BaseResultMap" type="net.sls.dto.pc.product.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="BIGINT" />
    <result column="isUse" property="isUse" jdbcType="BIT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, parentId, isUse, createTime, type
  </sql>
  <select id="selectCategoryList" resultMap="BaseResultMap" parameterType="net.sls.dto.pc.product.Category" >
    select
    <include refid="Base_Column_List" />
    from category
    <where>  isUse = 1
  		<if test="parentId != null or parentId != '' ">
  			and	parentId = #{parentId,jdbcType=INTEGER}
  		</if>
  	</where>	
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="net.sls.dto.pc.product.Category" >
    insert into area (id, code, name, 
      pid, createtime, isUse
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{isUse,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.sls.dto.pc.product.Category" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="isUse != null" >
        isUse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sls.dto.pc.product.Category" >
    update area
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null" >
        isUse = #{isUse,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sls.dto.pc.product.Category" >
    update area
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isUse = #{isUse,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCategory" resultType="net.sls.dto.pc.product.GoodsCategory" parameterType="long" >
    select
    id, oneId, twoId, threeId
    from goodsCategory
  	where goodsId = #{goodsId,jdbcType=BIGINT}
  </select>
  <select id="selectCategoryName" resultType="string" parameterType="long" >
    select
    name
    from category
    where id = 	#{categoryId,jdbcType=BIGINT}
  </select>
  <select id="selectCategoryById" resultType="net.sls.dto.pc.product.Category" parameterType="long" >
    select *
    from category
  	where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>