@charset "utf-8";

body { background: #f3f3f3}
	
.header { height: 90px; line-height: 90px; background: #fff; text-align: center;}
	.header_txt { display: inline-block; font-size: 14px; color: #000;}
		.header_txt i { display: inline-block; background: url(../images/sls_mz.png) no-repeat 0px -60px; height: 30px; width: 24px; background-size: 520px; position: relative; top: 2px;}
		
.switch_city { }
	.switch_city li { float: left; width: 50%;}
	.sc_bj { padding: 40px 12px 50px 60px;}
	.sc_ly { padding: 40px 60px 50px 12px;}
	.switch_city li img { width: 100%;}
			
.fw_txt_img { text-align: center; padding-top: 50px;}
	.fw_txt_img img { width: 200px;}
	@media screen and (min-width: 360px) {.fw_txt_img img{width: 280px;}}
	@media screen and (min-width: 640px) {.fw_txt_img img{width: 400px;}}
	
.foot_div { text-align: center; font-size: 14px; color: #666; padding: 2px 0px 0px 0px;}
.foot_txt { font-size: 16px; color: #000; padding: 35px 0px 5px 0px;}