@charset "utf-8";

.goods_list { }
	.goods_list li { border-bottom: solid 1px #ddd; padding: 10px;}
		.goods_list li a { display: block; height: 74px;}
		.gl_img { width: 74px; height: 74px; background: #ccc; float: left; margin-right: 10px;} 
		.gl_txt { color: #666; font-size: 14px; max-height: 46px; overflow: hidden; margin-bottom: 8px; padding-top: 10px;}
		.gl_xj { color: #dd3e48; font-weight: bold;}
		.gl_yj { color: #666; font-weight: normal; font-size: 13px; text-decoration: line-through; margin-left: 5px;}
