@charset "utf-8";

#goods_detail { width: 1200px; margin: auto;}
	#url_here { height: 60px; line-height: 60px; font-size: 12px;}
		#url_here { color: #666;}
		#url_here a { color: #666;}
		#url_here .uh_hover_a:hover { color: #ff7f00; text-decoration: underline;}
	#goods { }
		#gd_imgs { float: left; width: 430px; height: 500px;}
		#gd_des { float: left; width: 750px; margin-left: 20px; position: relative;}
			#gd_des_name { height: 36px; line-height: 36px; font-size: 20px; font-weight: 700;}
			#gd_des_xl { font-size: 12px; margin-top: 45px; margin-bottom: 12px;}
				#gd_des_xl li { float: left;}
					#gdx_yxl { /*text-shadow: 0px 0px 1px #c40000;*/ font-weight: bold; color: #c40000;}
					#gdx_jf { /*text-shadow: 0px 0px 1px #24735d;*/ font-weight: bold; color: #24735d; padding-left: 18px;}
				#gd_des_pri { background: #f2f2f2; font-size: 14px; padding-left: 12px; position: relative;}
					#gd_des_yd { position: absolute; top: 0px; right: 10px;}
						#gd_des_yd li { float: left;}
						#gd_des_yd li i { width: 16px; height: 16px; display: inline-block; position: relative; top: 3px; margin-left: 15px;}
							#gdy_my { background: url(../../images/index.png) no-repeat 0px -350px; }
							#gdy_gqt { background: url(../../images/index.png) no-repeat -16px -350px; }
							#gdy_sst { background: url(../../images/index.png) no-repeat -32px -350px; }
						#gd_des_yd li a { margin-left: 5px; color: #ff7f00; cursor: default;}
						/*#gd_des_yd li a:hover { text-decoration: underline;}*/
					#gd_des_pri li { line-height: 38px;}
						#gdp_c { color: #c40000; font-size: 20px; padding-left: 13px;}
						#gdp_s { padding-left: 13px; color: #999999; text-decoration: line-through;}
				#gd_des_ser { font-size: 14px; line-height: 34px; margin-top: 12px; margin-left: 13px;}
				#gd_des_time { position: absolute; top: 155px; left: 0px; width: 737px; padding-left: 13px; border-top: dotted 1px #d5d5d5; border-bottom: dotted 1px #d5d5d5;}
					#gd_des_time li { float: left; height: 74px; line-height: 74px;}
						#sysj { margin-left: 28px;}
				#gd_des_num { margin-left: 13px; margin-top: 145px;}
					#gdn_num { font-size: 12px; font-weight: bold; line-height: 30px; margin-right: 24px;}
					#gd_des_num li { float: left;}
					#gd_des_aia { background: #f0f0f0; padding: 1px 0; border: solid 1px #e8e8ea;}
						#gd_des_aia a, #gd_des_aia input { float: left;}
							.gda_a { padding: 2px 0; text-align: center; width: 18px;}
							#gda_inp { border: 1px solid #bebebf; padding: 2px 0; text-align: center; width: 38px;}
					#gdn_xgsl { font-size: 12px; height: 30px; line-height: 30px; color: #666; margin-left: 10px;}
				#gd_des_opt { margin-left: 13px; margin-top: 28px;}
					#gd_des_opt li { float: left;}
						#gd_des_opt a { display: block; border-radius: 2px;}
						#gdo_buy { width: 134px; height: 34px; background: #ffeded; border: solid 1px #d2605e; line-height: 34px; text-align: center; color: #d2605e; margin-right: 10px;}
						#gdo_car { width: 136px; height: 36px; line-height: 36px; color: #fff; background: #ff9326; margin-right: 10px;}
						.god_car_bto { position: fixed; right: 52px; bottom: 10px;}
						#gdo_car_de { width: 136px; height: 36px; line-height: 36px; color: #fff; background: #cdcdcd; margin-right: 10px;}
							#gdo_car_ig { width: 22px; height: 20px; background: url(../../images/inner.png) no-repeat 0px -60px; display: inline-block; margin: 8px 6px 0px 12px; float: left;}
							#gdo_car_ig_de { width: 22px; height: 20px; background: url(../../images/inner.png) no-repeat 0px -60px; display: inline-block; margin: 8px 6px 0px 12px; float: left;}
							#gdo_car span { float: left;}
						#gdo_col { width: 100px; height: 36px; background: #ff9326; line-height: 36px; color: #fff;}
							#gdo_col_ig { width: 19px; height: 16px; background: url(../../images/inner.png) no-repeat -19px 1px; display: inline-block; margin: 10px 6px 0px 12px; float: left;}

#goods_adv { width: 1200px; margin: auto; margin-top: 38px;}						
	#glc_lt { width: 208px; border: solid 1px #ddd; float: left;}
		#glc_lt_tit { height: 34px; line-height: 34px; text-align: center; background: #f5f5f5; border-bottom: solid 1px #ddd; font-size: 14px; color: #999;}
		#glc_lt_gdss { padding-bottom: 10px;}
			.glc_lt_gds { padding-bottom: 5px; padding-top: 10px;}
				.glc_lt_gds_img { text-align: center;}	
					.glc_lt_gds_img img { border: solid 1px #ccc; width: 150px; height: 150px;}
				.glc_lt_gds_des { width: 150px; margin: auto; font-size: 12px; word-break: break-all; margin-top: 5px; max-height: 42px; overflow: hidden;}
					.glc_lt_gds_des a { display: block; line-height: 20px;}
					.glc_lt_gds_des a:hover { text-decoration: underline;}
				.glc_lt_gds_pri { width: 150px; margin: auto; margin-top: 1px;}
					.glc_lt_gds_pri .glgp_np { color: #b9281e;}
					.glc_lt_gds_pri .glgp_op { text-decoration: line-through; font-size: 12px;}
					
	#glc_rt { width: 980px; border: solid 0px #ddd; float: left; margin-left: 10px; overflow: hidden;}
		#glc_tip { color: #666;}
		#glc_rt_tit { color: #666; font-size: 14px; border-bottom: solid 2px #ddd; margin-bottom: 10px; height: 34px;}
			#glc_rt_tit li.grt_txt { float: left; height: 34px; line-height: 34px; width: 125px; text-align: center;}
				.grt_txt_cur { color: #f69536; border-bottom: solid 3px #f69536;}
			#glc_rt_tit li.grt_sg { float: left; height: 15px; width: 1px; background: #ddd; position: relative; top: 10px;}

/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:430px;height:430px;border:0px solid #DFDFDF;}
.spec-scroll{clear:both;margin-top:3px;width:430px;}
.spec-scroll .prev{float:left;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{display:block;font-family:"宋体";font-size:24px;text-align:center;width:30px;height:64px; line-height:64px;border:0px solid #CCC;background:#eee;cursor:pointer;color:#bbb;}
.spec-scroll .items{float:left;position:relative;width:336px;height:64px;overflow:hidden; margin-left: 17px;}
.spec-scroll .items ul{position:absolute;width:999999px;height:64px;}
.spec-scroll .items ul li{float:left;width:64px;text-align:center; padding: 0px 10px;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:58px;height:58px;}
.spec-scroll .items ul li img:hover{border:2px solid #000/*#FF6600*/;padding:1px;}

							
							
						