@charset "utf-8";

.user_mes { padding: 20px 0px;}
	.user_mes li { float: left; font-size: 0px;}
	.user_img img { width: 40px; height: 40px; margin-left: 30px;}
	.user_mes .user_txt { font-size: 14px; color: #666; margin-left: 10px;}
	.user_txt div { line-height: 20px;}
	
.ms_state { background: #eee;}
	.ms_state li { float: left; width: 33.3%; text-align: center; height: 50px; line-height: 50px;}
		.ms_state li a { color: #666; display: block;}
		
.ms_opt { border-top: solid 1px #e6e6e6; border-bottom: solid 1px #e6e6e6; padding: 0px 10px; margin-top: 15px;}
	.ms_opt li { height: 50px; line-height: 50px; text-indent: 15px; position: relative;}
		.ms_jt { position: absolute; width: 12px; height: 20px; top: 14px; right: 8px; background: url(../../images/sls_mz.png) no-repeat 0px -178px; background-size: 520px;}
	.ms_opt a { display: block; color: #666;}
		
.ms_lxwm { display: block; height: 50px; line-height: 50px; color: #666; text-indent: 25px; border-top: solid 1px #e6e6e6; border-bottom: solid 1px #e6e6e6; margin-top: 10px; position: relative; padding-right: 10px;}
	.ms_op_jt { right: 18px;}
		