@charset "utf-8";

.viewport { padding-bottom: 55px;}
	
	.hd_scsp { height: 46px; line-height: 46px; border-bottom: solid 1px #e6e6e6; text-align: right; padding-right: 14px;}
		.hd_scsp a { color: #666;}
		
	.goods_ul {}
		.goods_ul li.goods_li { /*font-size: 0px;*/ border-bottom: solid 1px #e6e6e6; padding: 10px 0px; position: relative;}
			.goods_check { display: block; width: 25px; height: 26px; background: url(../../images/sls_mz.png) no-repeat; background-size: 520px; float: left; margin: 28px 10px 0px 10px;}
			.goods_check_all { display: block; width: 25px; height: 26px; background: url(../../images/sls_mz.png) no-repeat; background-size: 520px; float: left; margin: 38px 10px 0px 10px;}
				.gc_y { background-position: 0px -248px;}
				.gc_n { background-position: 0px -276px;}
			.goods_img { width: 80px; height: 80px; background: #ccc; float: left; margin-right: 8px;}
			.goods_txt { font-size: 14px; color: #666;}
				.goods_txt li { line-height: 22px;}
				.gt_txt { overflow: hidden; height: 22px; padding-right: 10px;}
				
			.goods_num { float: left;}
				.goods_num li { float: left;}
				.gn_txt { font-size: 14px; color: #666; height: 32px; line-height: 28px; padding-right: 10px;}
					.ft_num { display: inline-block;}
						.ft_num li { float: left; height: 32px;}
							.ft_num li a { width: 32px; display: block; text-align: center; height: 32px; line-height: 26px; border: solid 1px #e0dfdf; font-size: 20px; font-weight: bold; color: #666; background: #eee;}
						.ft_num input { text-align: center; width: 34px; height: 32px; border: solid 1px #e0dfdf; border-left: 0px; border-right: 0px;}
				.gn_remark { font-size: 12px; color: red; padding-left: 12px; display: inline-block; padding-top: 7px;}
			.gl_jt { position: absolute; display: block; width: 12px; height: 20px; top: 40px; right: 15px; background: url(../../images/sls_mz.png) no-repeat 0px -178px; background-size: 520px;}
	
	#foot { border-top: solid 1px #bfbebd; height: 50px; position: fixed; bottom: 0px; background: #f2f2f2; margin: 0px auto; max-width: 640px; min-width: 300px; width: 100%; z-index: 50;}
		.foot_ul { min-width: 300px; max-width: 640px; margin: auto; font-size: 14px;}
			.foot_ul li { float: left; color: #666;}
				.all_check a.goods_check_all { margin-top: 10px;}
				.ac_txt { height: 50px; line-height: 50px; margin: 0px 3px;}
				.ac_des { margin-top: 5px; margin-left: 12px;}
				.foot_ul .mc_js { float: right; margin-right: 7px; margin-top: 7px;}
				.mc_js a { display: block; width: 65px; height: 34px; color: #fff; line-height: 34px; text-align: center; background: #e3393c; border-radius: 3px;}
	
	/*弹出确认是否删除已选商品消息提示*/
	#filter_div { position: absolute; top: 0px; left: 0px; background: #000; opacity: 0.5; filter: alpha(opacity=50); width: 100%; z-index: 100; display: none;}
	#pop_div { position: fixed; width: 240px; height: 160px; background: #fff; top: 50%; left: 50%; margin-left: -120px; margin-top: -80px; display: none; z-index: 200; border-radius: 3px;}
		.cart_logo { width: 52px; height: 52px; background: url(../../images/sls_mz.png) no-repeat -40px -212px; background-size: 500px; margin: 10px auto;}
		.pd_txt { text-align: center; font-size: 14px; color: #666;}
		.pd_btns { width: 210px; margin: auto; margin-top: 14px;}
			.pd_btns li { float: left; border-radius: 3px;}
				.pd_btns li a { width: 100px; height: 38px; display: block; text-align: center; line-height: 38px; font-size: 14px;}
				
	.no_goods_opt { width: 270px; margin: auto; margin-top: 20px;}
		.no_goods_opt li { float: left;}
			.no_goods_opt li a { width: 130px; height: 38px; display: block; text-align: center; line-height: 38px; font-size: 14px; color: #fff; background: #ff9900; border-radius: 3px;}
	.sls_logo { background: url(../../images/sls_mz.png) no-repeat 0px 5px;; background-size: 500px; width: 40px; height: 40px; margin: auto; margin-top: 150px; margin-bottom: 5px;}