<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sls.dao.activity.ActivityLogMapper" >
  <resultMap id="BaseResultMap" type="net.sls.dto.activity.ActivityLog" >
    <result column="actId" property="actId" jdbcType="BIGINT" />
    <result column="actType" property="actType" jdbcType="INTEGER" />
    <result column="operatorId" property="operatorId" jdbcType="BIGINT" />
    <result column="operatorTime" property="operatorTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    actId, actType, operatorId, operatorTime, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.sls.dto.activity.ActivityLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from activityLog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="net.sls.dto.activity.ActivityLogExample" >
    delete from activityLog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.sls.dto.activity.ActivityLog" >
    insert into activityLog (actId, actType, operatorId, 
      operatorTime, remark)
    values (#{actId,jdbcType=BIGINT}, #{actType,jdbcType=INTEGER}, #{operatorId,jdbcType=BIGINT}, 
      #{operatorTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.sls.dto.activity.ActivityLog" >
    insert into activityLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        actId,
      </if>
      <if test="actType != null" >
        actType,
      </if>
      <if test="operatorId != null" >
        operatorId,
      </if>
      <if test="operatorTime != null" >
        operatorTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        #{actId,jdbcType=BIGINT},
      </if>
      <if test="actType != null" >
        #{actType,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.sls.dto.activity.ActivityLogExample" resultType="java.lang.Integer" >
    select count(*) from activityLog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activityLog
    <set >
      <if test="record.actId != null" >
        actId = #{record.actId,jdbcType=BIGINT},
      </if>
      <if test="record.actType != null" >
        actType = #{record.actType,jdbcType=INTEGER},
      </if>
      <if test="record.operatorId != null" >
        operatorId = #{record.operatorId,jdbcType=BIGINT},
      </if>
      <if test="record.operatorTime != null" >
        operatorTime = #{record.operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activityLog
    set actId = #{record.actId,jdbcType=BIGINT},
      actType = #{record.actType,jdbcType=INTEGER},
      operatorId = #{record.operatorId,jdbcType=BIGINT},
      operatorTime = #{record.operatorTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>